<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.0/foundation.css">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link href='https://fonts.googleapis.com/css?family=Monofett|Fredoka+One|Bangers' rel='stylesheet' type='text/css'>
  
  <meta charset="UTF-8">
  <title>Document</title>
  <script>
    // function allowDrop (ev) {
    //   ev.preventDefault();
    // }
    // function drag (ev) {
    //   ev.dataTransfer.setData("text", ev.target.class);
    // }
    // function drop (ev) {
    //   ev.preventDefault();
    //   var data = ev.dataTransfer.getData("text");
    //   ev.target.appendChild(document.getElementsByClassName(data));
    // }
  </script>
</head>

<body ng-app="myApp">
  <div id="wrap" ng-controller="MyController">

<!--   <div class="user-maker">
    <h1>Create a new user</h1>
    <form action="/api" method="post" ng-submit="createUser($event)">
    First Name: <input name="firstName" type="text" ng-model="firstName" placeholder="firstName">
    Last Name: <input name="lastName" type="text" ng-model="lastName" placeholder="lastName">
    Username: <input name="username" type="text" ng-model="username" placeholder="username">
    Password: <input name="password" type="text" ng-model="password" placeholder="password">
    <button class="submitButton" type="submit">Add User</button>
    </form>
  </div> -->
  
  <div class="card-maker">
      <h1>Create a new card</h1>
      <form action="/api" method="post" ng-submit="createCard($event)"><!-- calling our createCard function -->
        Title: <input name="title" type="text" ng-model="title" placeholder="title..">
        Priority: <select name="priority">
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
        </select>
        Created By: <select name="createdBy">
          <option value="Theo">Theo</option>
          <option value="Guest">Guest</option>
        </select>
        Assigned To: <select name="assignedTo">
          <option value="Student">Student</option>
          <option value="Teacher">Teacher</option>
        </select>
        <button class="submitButton" type="submit">Add Card</button>
      </form>
    </div>

    <div class="queue">
      <h2>Queue</h2>
      <ul>
        <li class="card" draggable="true"
            ng-repeat="card in cards  | filter : {status: 'queue'} "> 
          <h4 class="_title">{{card.title}}</h4>
          <p class="_author">Priority: {{card.priority}}</p>
          <p class="_author">Status: {{card.status}}</p>
          <p class="_author">Created By: {{card.createdBy}}</p>
          <p class="_author"> Assigned: {{card.assignedTo}}</p>
          <p class="_author"> ID #: {{card.id}}</p>
          <button ng-click="deleteCard(card.id)">Delete</button>
          <button ng-click="updateStatus(card.id,'queue', card)">Queue</button>
          <button ng-click="updateStatus(card.id,'in-progress', card)">In-Progress</button>
          <button ng-click="updateStatus(card.id,'done', card)">Done</button>
        </li>
      </ul>
    </div>
   
  <div class="in-progress" ondrop="drop(event)" ondragover="allowDrop(event)">
    <h2>In Progress</h2>
      <ul>
        <li class="card" draggable="true"
            ng-repeat="card in cards  | filter : {status: 'in-progress'} "> 
 
          <h4 class="_title">{{card.title}}</h4>
          <p class="_author">Priority: {{card.priority}}</p>
          <p class="_author">Status: {{card.status}}</p>
          <p class="_author">Created By: {{card.createdBy}}</p>
          <p class="_author"> Assigned: {{card.assignedTo}}</p>
          <button ng-click="deleteCard(card.id)">Delete</button>
          <button ng-click="updateStatus(card.id, 'queue', card)">Queue</button>
          <button ng-click="updateStatus(card.id,'in-progress', card)">In-Progress</button>
          <button ng-click="updateStatus(card.id,'done', card)">Done</button>
        </li>
      </ul>
  </div>

    
  <div class="done" ondrop="drop(event)" ondragover="allowDrop(event)">
    <h2>Done</h2>
      <ul>
        <li class="card" draggable="true"
            ng-repeat="card in cards  | filter : {status: 'done'} "> 
 
          <h4 class="_title">{{card.title}}</h4>
          <p class="_author">Priority: {{card.priority}}</p>
          <p class="_author">Status: {{card.status}}</p>
          <p class="_author">Created By: {{card.createdBy}}</p>
          <p class="_author"> Assigned: {{card.assignedTo}}</p>
          <button ng-click="deleteCard(card.id)">Delete</button>
          <button ng-click="updateStatus(card.id,'queue', card)">Queue</button>
          <button ng-click="updateStatus(card.id,'in-progress', card)">In-Progress</button>
          <button ng-click="updateStatus(card.id,'done', card)">Done</button>
        </li>
      </ul>
  </div>

  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.js"></script>
  <script src="/js/myApp.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/services.js"></script>
</body>
</html>