* {
box-sizing: border-box;
}

body,
html {
margin:0;
padding:0;
color:#000;
background:#a7a09a;
}

#wrap {
width:900px;
margin:0 auto;
background:#99c;
}

.queue {
float:left;
width:300px;

background:#9c9;
padding: 10px;
}

.in-progress {
float:left;
width:300px;

background:#9c6;
padding: 10px;
}

.done {
float:right;
width:300px;

background:#9c9;
padding: 10px;
}

.card {
  min-height: 100px;
  max-height: 200px;
  background-color: #20F6FB;
  margin: 0 auto;
  padding: 0;
}